@font-face {
  font-family: "Uber Light";
  src: url("../font/ubermove/UberMove-Light.ttf") format("opentype");
}
@font-face {
  font-family: "Uber Regular";
  src: url("../font/ubermove/UberMove-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Uber Medium";
  src: url("../font/ubermove/UberMoveMedium.otf") format("opentype");
}
@font-face {
  font-family: "Uber Bold";
  src: url("../font/ubermove/UberMoveBold.otf") format("opentype");
}
@font-face {
  font-family: "Specify Bold";
  src: url("../font/specify/SpecifyPERSONAL-ExpBold.ttf") format("opentype");
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0A0A0A;
  color: white;
  font-family: "Uber Medium";
}

@media screen and (max-width: 639px) {
  header nav ul li {
    display: none;
  }
}

main .hero {
  background-image: url("../img/ambience.png");
  position: relative;
  background-position: center 0px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1024px) {
  main .hero {
    background-attachment: fixed;
  }
}
main .hero h1 {
  width: 100%;
  position: relative;
  background: linear-gradient(90deg, #FFFFFF 0%, #ADC1E0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Specify Bold";
}
main .hero h1 img {
  position: a;
}
main .hero p {
  font-family: "Uber Light";
}
main .hero a:hover i {
  transform: rotate(45deg);
}
main .worked img {
  filter: grayscale(100);
  transition: 0.4s;
  -o-object-fit: contain;
     object-fit: contain;
}
main .worked img:hover {
  filter: grayscale(0);
}
main .about h2 {
  font-family: "Uber Bold";
}
main .about .description h1 {
  font-family: "Uber Bold";
}
main .about .description h1 span {
  background: linear-gradient(90deg, #5965FA 0%, #C654FB 54.69%, #F0A26D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .portfolio .title {
  font-family: "Specify Bold";
}
main .portfolio .wrapper .item {
  background: linear-gradient(180deg, #222323 0%, rgba(34, 35, 35, 0) 100%);
}
main .exploration .title {
  font-family: "Specify Bold";
}
main .exploration .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  cursor: grab;
}
@media screen and (min-width: 1024px) {
  main .exploration .swiper-slide-active {
    transform: scale(1.05);
  }
}
main .exploration .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .exploration .swiper-button-next,
main .exploration .swiper-button-prev {
  z-index: 20;
  width: 40px;
}
main .exploration .swiper-button-next img:hover,
main .exploration .swiper-button-prev img:hover {
  opacity: 0.8;
}
main .exploration .swiper-button-next::after,
main .exploration .swiper-button-prev::after {
  content: "";
}
main .exploration .swiper-pagination-bullet {
  background-color: #fff !important;
}

footer {
  font-family: "Specify Medium";
}
footer h2 {
  font-family: "Specify Bold";
}/*# sourceMappingURL=styles.css.map */